.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/mongoid.yml
config/application_config.yml
config/database.yml
vendor/bundle_gems
db/schema.rb
*.swp
public/system/*
db/development_structure.sql
vendor/bundled_gems
tags
.DS_Store
.idea/


